.content {
	width: 80%;
	margin: auto;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
table {
	width: 100%;
	border-collapse: collapse;
}
th,
td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
th {
	background-color: #f0f0f0;
}
form {
	margin-top: 20px;
}
input[type="text"] {
	padding: 10px;
	width: 70%;
	border: 1px solid #ddd;
}

input[type="submit"] {
	padding: 10px 20px;
	border: none;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #0056b3;
}

body {
	background-image: linear-gradient(
			168deg,
			rgba(96, 96, 96, 0.04) 0%,
			rgba(96, 96, 96, 0.04) 35%,
			rgba(220, 220, 220, 0.04) 35%,
			rgba(220, 220, 220, 0.04) 100%
		),
		linear-gradient(
			240deg,
			rgba(83, 83, 83, 0.04) 0%,
			rgba(83, 83, 83, 0.04) 71%,
			rgba(6, 6, 6, 0.04) 71%,
			rgba(6, 6, 6, 0.04) 100%
		),
		linear-gradient(
			401deg,
			rgba(203, 203, 203, 0.04) 0%,
			rgba(203, 203, 203, 0.04) 58%,
			rgba(3, 3, 3, 0.04) 58%,
			rgba(3, 3, 3, 0.04) 100%
		),
		linear-gradient(
			227deg,
			rgba(110, 110, 110, 0.04) 0%,
			rgba(110, 110, 110, 0.04) 11%,
			rgba(226, 226, 226, 0.04) 11%,
			rgba(226, 226, 226, 0.04) 100%
		),
		linear-gradient(180deg, rgb(215, 19, 84), rgb(234, 119, 123));
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}
